:root {
  --accent-color: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --white-text: #ffffff;
  --white-back: #e5e5e5;
  --grey-back: #f5f4fa;
  --dark-back: #2f303a;
  --size-heder: 14px;
  --height-heder: 1;
  --grey-elements: #AFB1B8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-text: #333;
  --gray-border: rgba(33, 33, 33, 0.2);
}

.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.interactive {
  transition: color var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}

.client-link, .portfolio__overlay, .submit-btn, .form-input-icon, .form-input,
.comment, .social-link, .contact__link {
  transition-duration: var(--duration);
  transition-timing-function: var(--t-function);
}

button {
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 700;
}

.inherited-icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  width: 100vw;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section {
  padding: 94px 0;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  text-align: Left;
  letter-spacing: 0.03em;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: calc(30 / 26);
  }
}

.logo--black {
  color: var(--black-text);
}

.logo--white {
  color: var(--white-text);
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(32 / 28);
  margin: 0 auto 50px;
  text-align: center;
  color: var(--black-text);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(42 / 36);
  }
}

.mob-menu__contact-phone {
  font-size: 34px;
  font-weight: 500;
  line-height: calc(40 / 34);
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  color: var(--grey-text);
  margin-bottom: 64px;
}

.contact__link {
  display: flex;
  align-items: center;
  transition-property: color;
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding: 32px 0;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__item {
  color: var(--grey-text);
}
@media screen and (min-width: 768px) {
  .contact__item {
    font-size: 12px;
    font-weight: 500;
    line-height: calc(14 / 12);
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(17 / 14);
  }
}

.contact__mail-icon,
.contact__phone-icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) {
  .contact__mail-icon,
.contact__phone-icon {
    margin-right: 8px;
  }
}

.contact-header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .contact-header {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header__mail {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-header {
    display: block;
  }

  .contact-header__mail {
    margin-bottom: 10px;
  }
}
.contact_footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.46;
}

.mail-footer {
  margin-bottom: 9px;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey-elements);
  color: var(--grey-elements);
  transition-property: color, background-color;
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 450px;
  height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-close-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}
.form-title {
  color: #212121;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.form-label {
  font-size: 12px;
  color: var(--gray-text);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 1;
  margin-top: 10px;
  display: block;
}

.form-input,
.comment {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  padding: 12px 42px;
  color: var(--placeholder-text);
  transition-property: border, border-radius;
}
.form-input:focus,
.comment:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.input-wrapper {
  margin-top: 4px;
  position: relative;
}

.form-input-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition-property: fill;
}
.form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  margin-top: 4px;
  outline: none;
}

.conditions {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  display: block;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  transition-property: box-shadow;
}
.submit-btn:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.agreement-text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  margin-left: 4px;
}

.agreement-checkbox {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}
.agreement-checkbox:checked {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}
.agreement-checkbox:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .agreement-text {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
  }
}
.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container_header {
    height: 60px;
    justify-content: start;
  }
}
@media screen and (min-width: 768px) {
  .container_header {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .nav, .contact-header {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 0;
    height: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav, .contact-header {
    display: flex;
  }
}

.header .logo {
  padding: 24px 0;
}

.mob-menu-open-btn {
  background-color: #fff;
  display: block;
  margin-left: auto;
}
.mob-menu-open-btn:hover, .mob-menu-open-btn:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mob-menu-open-btn {
    display: none;
    pointer-events: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav__list {
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  display: flex;
}

.nav__link {
  display: block;
  height: 100%;
  padding: 32px 0;
}

.nav__item {
  font-weight: 500;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  color: var(--accent-color);
  position: relative;
}
.current-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -2px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

body .mob-menu.is-open {
  overflow: hidden;
}

.mob-menu__container {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.mob-menu__close-btn {
  position: absolute;
  top: 21px;
  right: 21px;
  background-color: #fff;
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  color: var(--accent-color);
}

.mob-menu__nav-item {
  margin-bottom: 32px;
}

.mob-menu__nav {
  font-size: 40px;
  font-weight: 500;
  line-height: calc(47 / 40);
  color: var(--black-text);
}

.mob-menu-current {
  color: var(--accent-color);
}

.mob-menu__socials {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(22 / 18);
  color: var(--accent-color);
}

.mob-menu__social-item:not(:last-child) {
  margin-right: 9px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.order {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero-section {
  display: flex;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-img.jpg);
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section .box {
    background-image: url(../images/back-img@2x.jpg);
  }
}

.order:hover,
.order:focus {
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title_hero {
  color: var(--white-text);
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: calc(42 / 26);
}
@media screen and (min-width: 1200px) {
  .section-title_hero {
    font-size: 44px;
    font-weight: 900;
    line-height: calc(51 / 44);
  }
}

.team {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--grey-back);
  line-height: 1;
}

.stuff-list {
  display: block;
}

.stuff-item__img {
  width: 100%;
}

.stuff-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
}

.profession {
  color: var(--grey-text);
  font-weight: 400;
  margin-bottom: 16px;
}

.stuff-desc {
  padding: 30px 32px;
}

.employer-name {
  margin-bottom: 10px;
}

.employer-name,
.profession {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stuff-list {
    display: flex;
    flex-wrap: wrap;
  }

  .stuff-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .stuff-item:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .stuff-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 90px) / 4);
  }
  .stuff-item:not(:last-child) {
    margin-right: 30px;
  }
}
.footer-container {
  display: block;
}

.footer {
  background-color: var(--dark-back);
  padding: 60px 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.subscribe-wrapper {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .subscribe-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.footer-title,
.subscribe-input {
  margin-bottom: 20px;
}

.address {
  line-height: 1.46;
  font-weight: 400;
  color: var(--white-text);
  font-style: inherit;
  margin-top: 20px;
  margin-bottom: 9px;
}

.social-link_footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-title {
  display: block;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 28px;
}

.subscribe-input {
  background-color: var(--dark-back);
  width: 95vw;
  max-width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: var(--white-text);
  margin-right: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-column {
    flex-basis: calc((100% - 165px) / 2);
  }

  .footer-column:first-child {
    margin-right: 165px;
  }

  .subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .subscribe-input {
    width: 358px;
  }

  .footer-column {
    align-items: flex-start;
  }
  .footer-column:not(:last-child) {
    margin-right: auto;
  }
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio__item {
  margin-bottom: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 450px;
  }
}

.portfolio__title {
  color: var(--black-text);
  margin-bottom: 4px;
  font-size: 18pxpx;
  font-weight: 700;
  line-height: calc(36 / 18px);
}

.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--duration) var(--t-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__type {
  font-size: 16pxpx;
  font-weight: 400;
  line-height: calc(1.6 / 16px);
  color: var(--grey-text);
}

.portfolio__img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.portfolio__img {
  width: 100%;
}

.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: translateY(101%);
  transition-property: transform;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.advantages {
  display: block;
}

.advantage-item {
  display: block;
}

.advantage {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
}
@media screen and (max-width: 767px) {
  .advantage {
    text-align: center;
  }
}

.advantage-decor {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--grey-back);
  border-radius: 4px;
  width: 100%;
}

.advantage-description {
  font-weight: 400;
  color: var(--grey-text);
  line-height: 1.46;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantage-item .advantages {
    display: flex;
  }
  .advantage-item:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
  }

  .advantage-item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .advantage-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .client-section {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
}

.activity {
  display: flex;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.section-name {
  margin-bottom: 50px;
}

.activity-direction {
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.activity-wrapper {
  position: relative;
}

.filter {
  display: flex;
  justify-content: start;
  margin-bottom: 54px;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.current-filter {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18 / 16);
  color: var(--black-text);
  background-color: var(--grey-back);
  font-family: "roboto";
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, box-shadow, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
}

.client-section {
  padding-top: 0;
}

.client-item {
  flex-basis: calc((100% - 30px) / 2);
}
.client-item:nth-child(2n-1) {
  margin-right: 30px;
}
.client-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.client-link {
  display: flex;
  width: 100%;
  height: 79px;
  border: 1px solid var(--grey-elements);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--grey-elements);
  transition-property: color, border-color;
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .client-item:not(:nth-child(3n-3)) {
    margin-right: 30px;
  }
  .client-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    flex-basis: calc((100% - 150px) / 6);
  }
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}/*# sourceMappingURL=main.css.map */