:root {
  --accent-color: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --white-text: #ffffff;
  --white-back: #e5e5e5;
  --grey-back: #f5f4fa;
  --dark-back: #2f303a;
  --size-heder: 14px;
  --height-heder: 1;
  --grey-elements: #AFB1B8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.interactive {
  transition: color var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}

.social-link, .form-input,
.comment, .form-input-icon, .submit-btn, .portfolio__overlay, .client-link {
  transition-duration: var(--duration);
  transition-timing-function: var(--t-function);
}

button {
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 700;
}

.link {
  color: inherit;
}

.inherited-icon {
  fill: currentColor;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  text-align: Left;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.logo--black {
  color: var(--black-text);
}

.logo--white {
  color: var(--white-text);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin: 0 auto 50px;
  text-align: center;
  color: var(--black-text);
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.socials {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey-elements);
  color: var(--grey-elements);
  transition-property: color, background-color;
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 3px;
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-close-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  fill: currentColor;
}

.form-title {
  color: #212121;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.form-label {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 1;
  margin-top: 10px;
  display: block;
}

.form-input,
.comment {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  color: #333;
  transition-property: border, border-radius;
}

.form-input:focus,
.comment:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.input-wrapper {
  margin-top: 4px;
  position: relative;
}

.form-input-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition-property: fill;
}

.form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  outline: none;
}

.conditions {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  display: block;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  transition-property: box-shadow;
}

.submit-btn:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.agreement-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 4px;
}

.agreement-checkbox {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}

.agreement-checkbox:checked {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.header .logo {
  padding: 24px 0;
}

.nav__list {
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  display: flex;
}

.nav__item {
  font-weight: 500;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact__mail_header {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  font-weight: 500;
}

.phone {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  font-weight: 500;
}

.contact__link {
  display: flex;
  align-items: center;
}

.current-page {
  color: var(--accent-color);
  position: relative;
}

.current-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -2px;
}

.container_header {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__element {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav {
  margin-left: 93px;
}

.contact_header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact__item:first-child {
  margin-right: 50px;
  display: flex;
}

.contact__mail-icon,
.contact__phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav__link {
  display: flex;
}

.order {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero-section {
  display: flex;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-img.jpg);
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: auto;
}

.order:hover,
.order:focus {
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  color: var(--white-text);
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.team {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--grey-back);
  line-height: 1;
}

.profession {
  color: var(--grey-text);
  font-weight: 400;
  margin-bottom: 16px;
}

.stuff-desc {
  padding: 30px 32px;
}

.employer-name {
  margin-bottom: 10px;
}

.employer-name,
.profession {
  text-align: center;
}

.stuff-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.stuff-list {
  display: flex;
}

.stuff-item {
  background-color: #fff;
  border-radius: 4px;
}

.stuff-item:not(:last-child) {
  margin-right: 30px;
}

.address {
  line-height: 1.46;
  font-weight: 400;
  color: var(--white-text);
  font-style: inherit;
}

.contact_footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.46;
}

.footer {
  background-color: var(--dark-back);
  padding: 60px 0;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.mail-footer {
  margin-bottom: 9px;
}

.social-link_footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-column:not(:last-child) {
  margin-right: auto;
}

.subscribe-wrapper {
  display: flex;
}

.footer-title {
  display: block;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.nav-link {
  display: flex;
}

.subscribe-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 28px;
}

.subscribe-input {
  background-color: var(--dark-back);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: var(--white-text);
  margin-right: 12px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio__title {
  color: var(--black-text);
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.71;
}

.portfolio__item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - (3 * 30px)) / 3);
}

.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--duration) var(--t-function);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-text);
}

.portfolio__img-wrapper {
  overflow: hidden;
  position: relative;
}

.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: translateY(101%);
  transition-property: transform;
}

.advantages {
  display: flex;
}

.advantage {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.advantage-item {
  flex-basis: calc((100% - (3 * 30px)) / 4);
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-decor {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-image: url(../images/rectangle.jpg);
  border-radius: 4px;
}

.advantage-description {
  font-weight: 400;
  color: var(--grey-text);
  line-height: 1.46;
  letter-spacing: 0.03em;
}

.activity {
  display: flex;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.section-name {
  margin-bottom: 50px;
}

.activity-direction {
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.activity-wrapper {
  position: relative;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.current-filter {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.39;
  color: var(--black-text);
  background-color: var(--grey-back);
  font-family: "roboto";
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, box-shadow, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.clients {
  display: flex;
}

.client-section {
  padding-top: 0;
}

.client-link {
  display: flex;
  width: 170px;
  height: 79px;
  border: 1px solid var(--grey-elements);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--grey-elements);
  transition-property: color, border-color;
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */