.advantages {
  display: block;
}

.advantage {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  @include font(14, 700, 16);

  @media screen and (max-width:767px) {
    text-align: center;
  }

}

.advantage-decor {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  // background-image: url(../images/rectangle.jpg);
  background-color: var(--grey-back);
  border-radius: 4px;

  width: 100%;
}

.advantage-description {
  font-weight: 400;
  color: var(--grey-text);
  line-height: 1.46;
  letter-spacing: 0.03em;
}


// 768+
@media screen and (min-width:768px) {

  .advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
  flex-basis: calc((100% - (1 * 30px)) / 2);
    
  .advantages {
    display: flex;
}

  &:nth-child(2n-1) {
    margin-right: 30px;
  }
}
}

// 1200+
@media screen and (min-width:1200px) {
  
  .advantages {
    display: flex;
}

.advantage-item {
  flex-basis: calc((100% - (3 * 30px)) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

}

// 1199-

@media screen and (max-width:1199px) {
  .advantage-item:not(:nth-child(n+2)) {
    margin-bottom: 30px;
  }
}


// 767-

@media screen and (max-width:767px) {
  .advantage-item:not(:last-child) {
    margin-bottom: 30px;
  }
}