.address {
  line-height: 1.46;
  font-weight: 400;
  color: var(--white-text);
  font-style: inherit;
}

.contact_footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.46;
}

.footer {
  background-color: var(--dark-back);
  padding: 60px 0;
}


.address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.mail-footer {
  margin-bottom: 9px;
}

.social-link_footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-column:not(:last-child) {
  margin-right: auto;
}

.subscribe-wrapper {
  display: flex;
}

.footer-title {
  display: block;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.nav-link {
  display: flex;
}


.subscribe-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 28px;

}

.subscribe-input {
  background-color: var(--dark-back);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: var(--white-text);
  margin-right: 12px;
}