.mob-menu-open-btn {
  width: 40px;
  height: 40px;
  line-height: 0;

  &:hover,
  &:focus {
    color: var(--accent-color)
  }

  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.nav__list {
  display: none;
}

.contact_header {
  display: none;
}

.container {
  width: 412px;
  padding: 0 15px;
}

.container_header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    width: 412px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

body .mob-menu.is-open {
  overflow: hidden;
}

.mob-menu__container {
  position: relative;
  padding: 48px 40px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.mob-menu__top-part {
  margin-bottom: auto;
}

.mob-menu__close-btn {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 21px;
  right: 21px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__close-icon {
  width: 18px;
  height: 18px;
}

.mob-menu__nav-item {
  margin-bottom: 32px;
}


.mob-menu__nav {
  @include font(40px, 500, 1.18);
  color: var(--black-text);
}

.mob-menu-current {
  color: var(--accent-color);
}

.mob-menu__contact-phone {
  @include font(34px, 500, 1.18);
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__contact-mail {
  @include font(24px, 500, 1.17);
  color: var(--grey-text);
  margin-bottom: 64px;
}

.mob-menu__socials {
  display: flex;
  @include font(18px, 500, 1.22);
  color: var(--accent-color);
}

.mob-menu__social-item:not(:last-child) {

  margin-right: 10px;
  padding-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

// body .mob-menu.is-open {
//   display: none;
//   }


// .header .logo {
//   padding: 24px 0;
// }

// .nav__list {
//   font-size: var(--size-heder);
//   line-height: var(--height-heder);
//   display: flex;
// }

// .nav__item {
//   font-weight: 500;

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .contact__mail_header {
//   color: var(--grey-text);
//   font-size: var(--size-heder);
//   line-height: var(--height-heder);
//   font-weight: 500;
// }

// .phone {
//   color: var(--grey-text);
//   font-size: var(--size-heder);
//   line-height: var(--height-heder);
//   font-weight: 500;
// }

// .contact__link {
//   display: flex;
//   align-items: center;
// }

// .current-page {
//   color: var(--accent-color);
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//     bottom: -2px;
//   }
// }

// .container_header {
//   display: flex;
//   align-items: center;
// }

// .header {
//   border-bottom: 1px solid #ececec;
// }

// .header__element {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .nav {
//   margin-left: 93px;
// }

// .contact_header {
//   display: flex;
//   margin-left: auto;
//   align-items: center;
// }

// .contact__item:first-child {
//   margin-right: 50px;
//   display: flex;
// }

// .contact__mail-icon,
// .contact__phone-icon {
//   fill: currentColor;
//   margin-right: 10px;
// }

// .nav__link {
//   display: flex;
// }