.order {
    background-color: var(--accent-color);
    color: var(--white-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;

    border-radius: 4px;
    padding: 10px 32px;
  }

  
.hero-section {
  display: flex;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/back-img.jpg);
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: auto;
}

.order:hover,
.order:focus {
  cursor: pointer;
}


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  color: var(--white-text);
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}