.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    z-index: 10;

    transition-property: opacity, visibility;
    @extend %transition-conduct;
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

body .mob-menu.is-open {
    overflow: hidden;
}

.mob-menu__container {
    padding: 48px 40px;
    padding-bottom: calc(48px - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.mob-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 21px;
    background-color: #fff;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

// TOP PART

.mob-menu__nav-item {
    margin-bottom: 32px;
}

.mob-menu__nav-link {

    transition-property: color;
    @extend %transition-conduct;

    &:hover,
    &:focus {
        color: var(--accent-color)
    }
}

.mob-menu__nav {
    @include font(40, 500, 47);
    color: var(--black-text);
}

.mob-menu-current {
    color: var(--accent-color);
}

// BOTTOM PART

.mob-menu__socials {
    display: flex;
    flex-wrap: wrap;
    @include font(18, 500, 22);
    color: var(--accent-color);
}

.mob-menu__social-item {
    margin-bottom: 15px;
}

.mob-menu__social-item:not(:last-child) {
    margin-right: 9px;
    padding-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

// 769+

@media screen and (min-width:769px) {
    .mob-menu {
        display: none;
    }
}