.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio__title {
  color: var(--black-text);
  margin-bottom: 4px;
  @include font(18px, 700, 1.71)
}


.portfolio__item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - (3 * 30px)) / 3);
}


.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--duration) var(--t-function);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    & .portfolio__overlay {
      transform: translateY(0);
    }
  }
}


.portfolio__type {
  @include font(16px, 400, 1.6) color: var(--grey-text);
}

.portfolio__img-wrapper {
  overflow: hidden;
  position: relative;
}

.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: translateY(101%);
  transition-property: transform;
  @extend %transition-conduct;
}