
.logo {
    color: var(--accent-color);
    font-family: "Raleway";
    text-align: Left;
    letter-spacing: 0.03em;
    @include font (24, 700, 28);

    @media screen and (min-width:1200px) {
      @include font (26, 700, 30);
    }
  }
  
  .logo--black {
    color: var(--black-text);
  }
  
  .logo--white {
    color: var(--white-text);
  }