
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms linear, visibility 500ms linear;
   &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  }
  
  .modal {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    padding: 40px;
  }
  
  .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    color: black;
  
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition-property: color, border-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

&:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
  }
  
  .modal-close-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    fill: currentColor;
  }