button {
  border: none;
  cursor: pointer;
  // font:inherit
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 700;
}

.inherited-icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
font-style: normal;}