
button {
    border: none;
    cursor: pointer;
  }
  
  p,
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .list {
    list-style: none;
    padding-bottom: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: var(--black-text);
    font-size: 14px;
    font-weight: 700;
  }

  .link {
    color: inherit;
  }

  .inherited-icon {
    fill: currentColor;
  }
  