%transition-conduct {
    transition-duration: var(--duration);
    transition-timing-function: var(--t-function);
}

@mixin font($fs, $fw, $lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}