:root {
    --accent-color: #2196f3;
    --black-text: #212121;
    --grey-text: #757575;
    --white-text: #ffffff;
    --white-back: #e5e5e5;
    --grey-back: #f5f4fa;
    --dark-back: #2f303a;
    --size-heder: 14px;
    --height-heder: 1;
    --grey-elements: #AFB1B8;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }